html{
    height: 109%;
}

body{

    margin:0;
    height: inherit;
    height: 100%;

}

main{

    margin:8% auto 1%;
    width: 50%;
}

main p{
    line-height: 180%;
}

nav{

    width: inherit;

}
nav ul{
    display: block;
    display: flex;
    list-style: none;
    width: 43.5%;
    margin: 0 auto;
    padding: 0;
}

nav li{
    margin: 0 2%;
}

nav a{

    color: black;
    text-decoration: none;
    width: 100%;

}

footer{

    background-color: cadetblue;
    height: inherit;
    height: 22.5%;

}

footer p{
    text-align: center;
}

section{

    margin: 0 auto;
    width: 9.5%;
}

#PORF{

    display: flex;
    justify-content: space-around;
    width: 15.5%;
    margin: 3% auto;

}

#PORF hr{
    transform: rotate(90deg);
    margin: 0 5px;
}

#Título{

    margin: 0 auto;
    width: 15.5%;

}

#Título h1{

    margin:0;

}

#BTN{

    margin: 0% auto;
    display: block;
    width: 7%;

}

#BTN a{

    text-decoration: none;
    color: black;

}